<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список факторов</title>
    <link rel="stylesheet" href="/resources/styles/main.css">
    <link rel="stylesheet" href="/resources/styles/order.css">
    <link rel="stylesheet" href="/resources/styles/cards.css">
</head>

<body>
    
    <header>
        <div class="logo">FRAXCALCULATOR.ORG</div>
    </header>
        <div class="header-text">Факторы риска</div>
        <div class="header-line"></div>
        <div>
            <a class="card-button order-button" href="/order/1">Составление заявки</a>
        </div>

    <div class="factor-count">
    {{.count}}
    </div>

        <div>
            <form action="/FRAX" method="GET">
                <input class="search-input" type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">
            </form>
        </div>

<div class="container">
    {{range .factors}}
    <div class="card">
        <img class="card-img" src="{{.Image}}" alt="">
        <div class="card-content">
            <p class="card-title">{{.Title}}</p>
            <a class="card-button" href="/factor/{{ .ID }}">Подробнее</a>
        </div>
    </div>
    {{end}}
</div>

        <div class="footer-line"></div>
    <footer>
        <div><p class="logo logoFooter">FRAXCALCULATOR.ORG</p></div>
        <div><p class="footerText">©2008-2025 - Osteoporosis Research Ltd, RF</p></div>
        <div><p class="footerNumber">+7 (496) 230-45-71</p></div>
    </footer>

</body>
</html>