<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.factor.FactorTitle}}</title>
    <link rel="stylesheet" href="/resources/styles/main.css">
</head>

<body>
    
    <header>
        <div class="logo">FRAXCALCULATOR.ORG</div>
        <div><a class="refToMenu" href="/FRAX">Факторы</a></div>
    </header>

    <div class="header-text">{{.factor.FactorTitle}}</div>
    <div class="header-line"></div>

    <div class="container">
        <div class="card card-for-one-factor">
            <img class="card-img" src="{{.factor.FactorImage}}" alt="">
            <div class="card-content">
                <p class="card-title">{{.factor.FactorTitle}}</p>
                <p class="card-text">{{.factor.FactorText}}</p>
            </div>
        </div>
    </div>

</body>
</html>